<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">
	<select id="getId" resultType="java.util.HashMap">
	    SELECT
			SEQ,
			SUBJECT,
			CONTENT,
			NAME,
			REGDATE,
			READCOUNT
	     FROM board
	</select>
</mapper>

<!--<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD 
	Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <mapper namespace="mappers.boardMapper"> 
	<select id="selectTableList" resultType="java.util.HashMap"> SELECT SEQ, 
	SUBJECT, CONTENT, NAME, REGDATE, READCOUNT FROM BOARD </select> </mapper> -->